@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>!Pet Store!</h1>
    <p>
         Buy me...please.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Something</h1>
        <p>
            WHATEVER
        </p>
    </div>
    <div class="col-md-4">
        <h2>Something Else</h2>
        <p>
            BLAH BLAH BLAH BLAH
        </p>
    </div>
    <div class="col-md-4">
        <h3></h3>Come at me Bro!</h3>
        <p>
            INFO INFO INFO INFO
        </p>
    </div>
</div>